@model crudaspnet.Models.eletronico

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.aparelho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aparelho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.codigo }) |
    @Html.ActionLink("Voltar", "Index")
</p>
